:root {
  font-family: system-ui, sans-serif;

  /* color tokens */
  --surface-base: #1e1e1e;
  --surface-elevated: #fff;
  --surface-sunken: #f2f3f9;

  color: #111;
  background: var(--surface-base);
}

body {
  margin: 0 80px;
}
